/* 느림보 고딕 */
@font-face {
    font-family: 'neurimboGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: 'Pretendard-Regular';
    font-size: 16px;
}
body {
    max-width: 420px;
    margin: 0 auto;
}

header, section, div {
    box-sizing: border-box;
}

.basic-layout {
    width: 100%;
    display: flex;
    padding-right: 20px;
    .content {
        width: 100%;
    }
    .line {
        flex-shrink: 0;
        width: 14px;
        background-color: #000;
    }
}

header {
    height: 170px;
    text-align: right;
    .main-title {
        font-family: 'neurimboGothicRegular';
        font-size: 96px;
        line-height: 96px;
        margin: 0;
        transform: translateX(18px);
    }
    .main-title-description {
        font-family: 'neurimboGothicRegular';
        line-height: 16px;
        color: #ddd;
        letter-spacing: 0.4em;
        margin: 0;
        span {
            letter-spacing: 0em;
            line-height: 24px;
        }
    }
    .sub-description {
        margin: 0 4px  0;
        font-family: 'neurimboGothicRegular';
        line-height: 24px;
        color: #ddd;
    }
    .line {
        .white {
            height: 37px;
            background-color: #fff;
        }
    }
}

/* 통계 컴포넌트 */
.consumption-statistics {
    height: 250px;
    background-color: #000;
    color: #fff;
    .total {
        padding: 0 20px;
    }
    .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 40px;
        font-family: 'neurimboGothicRegular';
        h2 {
            margin: 10px 0 0;
            font-size: 40px;
            font-weight: 400;
        }
    }
    .each {
        margin-left: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'neurimboGothicRegular';
        h3 {
            margin: 3px 0;
            font-weight: 400;
        }
    }
    .line {
        background-color: #fff;
        .basic {
            background-color: #fff;
        }
        .good1 {
            background-color: #009086;
        }
        .good2 {
            background-color: #0CCF43;
        }
        .less1 {
            background-color: #777;
        }
        .less2 {
            background-color: #FFB800;
        }
        .fit1 {
            background-color: #fff;
        }
        .fit2 {
            background-color: #FF4C97;
        }
    }
    .fit1 {
        color: #fff;
    }
}
.total-wrapper {
    width: 100%;
    .title-wrapper {

    }

}

/* 리스트 컴포넌트 */
.monthly-list {
    margin: 10px 0;
    list-style: none;
    padding: 0;
    li {
        display: flex;
        padding: 5px 10px;
        gap: 10px;
        .date {
            flex-shrink: 0;
            width: 30px;
            color: #000;
        }
        .date.sun {
            color: red;
        }
        .date.set {
            color: blue;
        }
        .detail {
            width: 100%;
        }
        .price {
            flex-shrink: 0;
            padding-right: 10px;
        }
    }
    li.hidden-date {
        .date {
            color: #fff;
        }
    }
}

.basic {
    color: #000;
}
.good1 {
    color: #009086;
}
.good2 {
    color: #0CCF43;
}
.less1 {
    color: #777;
}
.less2 {
    color: #FFB800;
}
.fit1 {
    color: #000;
}
.fit2 {
    color: #FF4C97;
}


